<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
   <div class="span8">
    	<% if @user.houses.count > 0 %>
      		<h3>Houses (<%= @user.houses.count %>)</h3>
      		<ol class="houses">
        		<%= render @houses %>
      		</ol>
      	<%= will_paginate @houses %>	
    	<% end %>
  </div>
</div>
